/**
 * @name New BNHA Theme
 * @author ShadowDevilsAvenged
 * @description Newer BNHA theme for my return
 * @version 5.1
 */

/* Main Background */
 .app-2CXKsg {
    background-image: url(https://images6.alphacoders.com/907/907407.jpg);
    background-size: cover;
    background-color: transparent;
